<ng-container *ngIf="player != null; else lobby">
  <h2>You are player: #{{player}}</h2>

  <div class="raceTrack">
    <div class="lane" *ngFor="let p of players; index as i">
      <div class="car" [style.left.%]="p.progress * 100">
        <img src="/assets/images/car.png"
             [class.me]="i == player">
        <span class="number">#{{i}}</span>
      </div>
    </div>
  </div>

  <div class="textStatus">
    <span *ngFor="let char of textChars"
          class="char"
          [class.incorrect]="char.state == 'incorrect'"
          [class.typed]="char.state == 'typed'">{{char.char}}</span>
  </div>

  <textarea [(ngModel)]="typed" (input)="typedChanged()" #textAreaElement></textarea>
</ng-container>
<ng-template #lobby>
  <h2>Waiting for players...</h2>
</ng-template>
